{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:jest/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended" // this should always be the last item on this array
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier",
    "jest",
    "import",
    "sonarjs",
    "jsx-a11y"
  ],
  "rules": {
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/static-property-placement": 0,
    "jsx-a11y/alt-text": 0,
    "react/jsx-props-no-spreading": 0,
    "no-unused-vars": 0,
    "no-magic-numbers": [
      "error",
      { "ignoreArrayIndexes": true, "ignore": [1000, -1, 0, 1, 2, 3, 4, 5] }
    ],
    "arrow-body-style": ["error", "as-needed"],
    "line-comment-position": ["error", { "position": "above" }],
    "no-restricted-imports": ["error", { "patterns": [" * as"] }],
    "arrow-parens": ["error", "as-needed"],
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-unnecessary-type-assertion": "error",
    "sonarjs/prefer-immediate-return": "error",
    "sonarjs/no-duplicate-string": "error",
    "import/no-namespace": "error",
    "no-underscore-dangle": ["error", { "allow": ["__typename", "_env_"] }],
    "jest/expect-expect": "off",
    "jest/valid-expect": "off",
    "jest/no-standalone-expect": "off",
    "jest/no-mocks-import": "off",
    "jest/no-conditional-expect": "off",
    "jest/valid-title": "off",
    "import/no-named-as-default": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": ["src"]
      }
    }
  },
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
